body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-avatar-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.avatar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.avatar-icon:hover {
    opacity: 0.7;
}


.header-option-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-option-btn .button-icon {
    width: 40px;
    height: 40px;
}


.main-container {
    display: flex;
    height: calc(100vh - 55px);
}

.sidebar {
    width: 84px;
    background-color: rgba(86, 85, 155, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, width 0.3s ease;
}

.sidebar-hidden {
    transform: translateX(-84px);
}

.sidebar-menu,
.sidebar-bottom-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar-menu li,
.sidebar-bottom-menu li {
    padding: 30px 0;
    text-align: center;
}

.sidebar-menu li a,
.sidebar-bottom-menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-menu li a:hover,
.sidebar-bottom-menu li a:hover {
    background-color: #495057;
    border-radius: 5px;
}

.content {
    padding: 20px;
    flex-grow: 1;
}

.dashboard-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dashboard-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.card h3 {
    margin: 0 0 10px;
    color: #333333;
}

.card p {
    font-size: 24px;
    color: #666666;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px;
}

.box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử trong flex container bọc xuống dưới khi không đủ không gian */
    justify-content: space-between; /* Các phần tử sẽ được phân chia đều theo chiều ngang */
}


.divider {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}
.stockAlert-section,
.newShipment-section {
    width: calc(60% - 10px); /* Đặt chiều rộng của mỗi section là 50% với khoảng cách giữa chúng là 10px */
    box-sizing: border-box; /* Đảm bảo chiều rộng của section tính cả padding và border */
}

.newShipment-section {
    width: 40%; 
}


.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}


.form-button-container {
    display: flex;
    justify-content: flex-end;
}

.change-button {
    padding: 15px 30px;
    background-color: rgba(86, 85, 155, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.change-button:hover {
    background-color: #218838;
}


.stock-info {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.stock-info li {
    flex: 1;
    margin-right: 20px;
}

.stock-info li:last-child {
    margin-right: 0;
}

.shipment-info {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.shipment-info li {
    flex: 1;
    margin-right: 20px;
}

.shipment-info li:last-child {
    margin-right: 0;
}