body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: white;
    width: 90%;
    height: 90%; /* Adjusted height to make the container taller */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login-section {
    width: 25%; /* Adjusted width to make login section narrower */
    padding: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login-section h2 {
    margin-bottom: 20px;
    text-align: left;
}

.login-section label {
    display: block;
    margin: 10px 0 5px;
}

.login-section input[type="text"], .login-section input[type="password"], .login-section button {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-section .remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.login-section .remember-me input[type="checkbox"] {
    margin-right: 5px;
}

.login-section button {
    background-color: rgba(16, 21, 64, 1);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.login-section button:hover {
    background-color: #218838;
}

.image-section {
    width: 75%; /* Adjusted width to make image section wider */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
